---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Galery from '../components/Galery.astro';
import Divider from '../components/Divider.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Navbar />
		<Hero />
		<Divider/>
		<Galery />
	</main>
</Layout>