---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Galery from '../components/Basic-Gallery.astro';
import Divider from '../components/Divider.astro';
import Footer from '../components/Footer.astro';
import BasicGallery from '../components/Basic-Gallery.astro';
import KaidoGallery from '../components/Kaido-Gallery.astro';
import PremiumGallery from '../components/Premium-Gallery.astro';
import RLCGallery from '../components/RLCGallery.astro';
---

<Layout title="Uiliverse">
	<main>
		<Navbar />
		<Hero />
		<BasicGallery 
		title="Basic Racers" 
		description="Los Hot Wheels básicos son la línea principal de la marca, ofreciendo una amplia variedad de modelos a un precio accesible. Estos coches están diseñados para el juego y la colección, con una gran diversidad de diseños, desde réplicas de autos reales hasta creaciones originales de Hot Wheels. Aunque suelen tener carrocerías de metal y bases de plástico, el foco está en la diversión y la accesibilidad."
		/>
		<KaidoGallery
		title="Kaido Racers"
		description="Inspirados en la cultura automotriz japonesa, especialmente en el estilo de modificación 'kaido racer', estos modelos capturan la esencia de los coches personalizados japoneses. Los Hot Wheels Kaidos presentan diseños exagerados con modificaciones llamativas como escapes sobredimensionados, spoilers prominentes y decoraciones audaces. Están dirigidos a aficionados de la cultura automovilística japonesa y coleccionistas que buscan un toque de estilo y originalidad en sus colecciones."
		/>
		<PremiumGallery
		title="Premium Racers"
		description="La línea Premium de Hot Wheels se caracteriza por su atención al detalle y acabados de alta calidad. Estos modelos vienen con carrocerías de metal completo y bases de metal, ruedas de caucho realistas y decoraciones detalladas. Están dirigidos a coleccionistas que buscan un nivel superior en términos de fidelidad y acabado respecto a los modelos básicos, ofreciendo temáticas específicas y empaques coleccionables."
		/>
		<RLCGallery
		title="Red Line Club (RLC)"
		description="La serie RLC de Hot Wheels es una línea exclusiva diseñada para coleccionistas. Ofrece modelos de alta calidad con detalles excepcionales, acabados premium y ediciones limitadas. Los miembros del Red Line Club tienen acceso prioritario a estas ediciones especiales, que a menudo rinden homenaje a los diseños clásicos de Hot Wheels o introducen innovaciones estéticas y técnicas."
		/>
		<Footer/>
		
	</main>
</Layout>