---
interface Props {
	text: string;
	href: string;
}

const { text, href } = Astro.props;
---

<h3 class="flex items-center w-full pt-5">
    <span class="flex-grow bg-purple-400 opacity-45 rounded h-1"></span>
    <button class="font-semibold mx-3 text-md  border px-6 py-0.5 rounded-full inline-flex items-center  border-yellow-400 bg-gray-900 text-white hover:bg-slate-950 hover:border-purple-700 hover:text-gray-200-400">
        <a href={href}>
            {text}
        </a>
    </button>
    <span class="flex-grow bg-purple-400 opacity-45 rounded h-1"></span>
</h3>
