---
import ImageCard from "./ImageCard.astro"
---

<div class="container mx-auto flex px-5 py-40 ">
    <div class="mx-auto max-w-xl">
      <ImageCard></ImageCard>
        <div class="p-5 sm:p-8">
            <div class="columns-1 gap-5 sm:columns-2 sm:gap-8 md:columns-3 lg:columns-4 [&>img:not(:first-child)]:mt-8">
                <img
              alt="Developer"
              src="/assets/images/Basico-1.webp"
              class="inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
                <img
              alt="Developer"
              src="/assets/images/Premium-1.webp"
              class="inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
                <img
              alt="Developer"
              src="/assets/images/Premium-2.webp"
              class="inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
                <img
              alt="Developer"
              src="/assets/images/RLC-1.webp"
              class="inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <img
              alt="Developer"
              src="/assets/images/RLC-2.webp"
              class="inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <img
              alt="Developer"
              src="/assets/images/RLC-3.webp"
              class="inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <img
              alt="Developer"
              src="/assets/images/RLC-4.webp"
              class="inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <img
              alt="Developer"
              src="/assets/images/RLC-5.webp"
              class="inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            <img
              alt="Developer"
              src="/assets/images/RLC-6.webp"
              class="inset-0 h-full w-full object-cover opacity-75 transition-opacity group-hover:opacity-50"
            />
            </div>
        </div>
    </div>
</div>
