<div class="lg:columns-2 md:columns-1 sm:columns-1 mt-10">
    <div class="container mx-auto flex px-5 lg:py-32 md:py-24 sm:py-24 xs:py-20 xxs:py-20 items-center justify-center flex-col ">
        <div class="mx-auto max-w-xl text-left lg:text-9xl md:text-9xl sm:text-9xl xs:text-8xl xxs:text-7xl">
            <h1 class="font-Gyoza  text-yellow-400 texto-3d "><span class="letra-respiracion">U</span>iliverse</h1>
            
        </div>
        <div class="flex items-center justify-center">
            <img 
            src="/assets/images/hot-wheels-icon.svg" 
            alt="Hot-Wheels" 
            class="object-cover mr-2 lg:h-10 lg:w-32 md:w-28 md:h-10 sm:h-16 sm:w-16 xs:h-10 xs:w-16 xxs:w-16 xxs:h-8 ">
            <p class="font-semibold text-white *:text-xl"> Articulos de colección</p>
        </div>
    </div>
    <div class="galery-container px-5 mb-10 ">
        <img
          alt="Developer"
          src="/assets/images/RLC-6.webp"
          class="rounded-l-xl"
        />
        <img
          alt="Developer"
          src="/assets/images/RLC-3.webp"
          
        />
        <img
          alt="Developer"
          src="/assets/images/RLC-4.webp"
          class="rounded-r-xl"
        />
    </div>
</div>

