<div class="container mx-auto flex px-5 py-40 items-center justify-center flex-col ">
    <div class="mx-auto max-w-xl text-left ">
        <h1 class="font-Gyoza text-9xl text-yellow-500 texto-3d"><span class="letra-respiracion">U</span>iliverse</h1>
        <p class="font-semibold text-white">Articulos de colección</p>
    </div>
</div>